out/*
!out/.gitkeep
.vscode
*.out
build/
*.o
*.so
*.dylib
*.dll
*.exe
*.log
.venv
perf.data
perf.data.old
env
.venv
venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
.idea/
*.iml
*.ipr
*.iws
*.sublime-project